/assets/img/
/.idea/vcs.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/Portfolio.iml
/.idea/php.xml
/.idea/jsLibraryMappings.xml
/.idea/deployment.xml
/.idea/dataSources.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/discord.xml
/.idea/modules.xml
/Screenshot_1.png
/.idea/.gitignore
/assets/dev/connectDB.php
/assets/dev/contactMail.php
/.idea/sshConfigs.xml
/.idea/webServers.xml
